{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				},
				"useBuiltIns": "entry",
				"corejs": 3
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			}
		]
	]
}
